* {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    background: #000000;
    font-family: Arial, Helvetica, serif;
}
#desc {
    margin-top: 10px;
}
#event_info {
    width: 276px;
    top: 20px;
    z-index: 100;
    font-size: 12px;
}
#company_info {
    background: rgba(0,0,0,.5);
    padding: 30px;
    color: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

.gradient {
    width: 100%;
    height: 100%;
    position: fixed;
    background: transparent url("/img/bg-repeat_long.png") repeat-y;
    z-index: 99;
    display: none;
}

.grid.active .gradient {
    display: block;
}
.grid {
    overflow: hidden;
}

.grid .item {
    float: left;
    width: 240px;
    height: 240px;
}

.grid .item img, .detail img {
    display: block;
    max-width: 100%;
}

.detail {
    display: none;
    width: 640px;
    margin: 50px auto 0;
}

#view_nav_section {
    bottom: 45px;
    width: 45px;
    z-index: 101;
}

#view_nav_section a {
    width: 16px;
    height: 16px;
    background: transparent url("/img/switcher.png");
    text-indent: -9999em;
    float: left;
}
#view_nav_section #grid {
    margin-left: 12px;
    background-position: -29px 0;
}

#view_nav_section, #event_info {
    position: fixed;
    right: 30px;
}

#app_store ul {
    overflow: hidden;
    padding-left: 14px;
    padding-top: 20px;
}
#app_store li {
    float: left;
    list-style: none;
    width: 123px;
    margin-right: 8px;
}
