/* line 3, ../sass/style.scss */
body {
  padding-top: 40px;
}

/* line 7, ../sass/style.scss */
.simple {
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
}

/* line 11, ../sass/style.scss */
.navbar .navbar-inner {
  padding: 0 20px;
}

ul.event_list,ul.company_list {
   padding: 0;
    margin: 0;
}

ul.event_list li {
    width: 100px;
    float: left;
}

ul.company_list li {
    width: 50px;
    float: left;
}

ul.company_list li.name {
    width: 500px;
    float: left;
}

#footer {
    clear: both;
}